body {

}
h1 {

}
h2 {

}

img {
    max-width: 100%;
}

figure {
    margin: 0;
}

@media (max-width: 600px) {
    body {
        font-size: larger;
        margin: 5%;
        display: flex;
        flex-direction: column;
    }

    h1, h2, h3, h4, h5, h6 {
        font-size: smaller;
    }

    figure {
        width: 40%;
        margin: 10px;
    }

    .images {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}
